@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #ebebeb;
}
h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 300%;
}
h4 {
  font-size: 180%;
  text-align: center;
}

/* STRUCTURE */

#head-msg {
  margin: 30px 0;
  padding: 12px 30px;
}

#block {
  background-color: white;
  clear: both;
  padding: 30px 60px 60px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px #e9e4e0;
  border: 1px solid #e3e3e3;
}

#option {
  border: 4px dashed #473b47;
  background-color: #fbfbf9;
  padding: 10px 20px;
  margin: 0 0 10px 0;
  border-radius: 10px;
  display: block;
}

/* TEXT */

.statement {
  font-size: 130%;
  color: #DC143C;
}
.text-desc {
  font-size: 130%;
  color: #0000FF;
}

/* COMMON */

.btn {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 10px 20px;
  width: auto;
  border-radius: 10px;
  text-align: center;
  font-size: 100%;
  color: #fff;
  background-color: #0065e9;
}
.btn-cntr {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 10px 20px;
  width: auto;
  border-radius: 10px;
  text-align: center;
  font-size: 100%;
  color: #fff;
  background-color: #0065e9;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-right {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 10px 20px;
  width: auto;
  border-radius: 10px;
  text-align: center;
  font-size: 100%;
  color: #fff;
  background-color: #ff0000;
}
.big-center {
        font-size: 300%;
        font-weight: bold;
        font-family: 'Roboto Slab', serif;
        color: #DC143C;
        display: flex;
        justify-content: center
}
.left {
  float: left;
}
span.center {
        font-size: 120%;
        color: #DC143C;
        display: flex;
<!--        justify-content: center-->
}
span.desc {
        font-size: 130%;
        font-family: 'Roboto Slab', sans-serif;
        text-decoration-line: underline;

}
img.big {
  background-color: white;
  clear: both;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px #e9e4e0;
  border: 1px solid #e3e3e3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
img.small {
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 5px;
}
