<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<style>
img {
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 5px;
  float: left;
}
.btn-small {
  display: inline-block;
  margin: 0 3px 3px 0;
  padding: 3px 6px;
  width: auto;
  border-radius: 10px;
  text-align: center;
  font-size: 100%;
  color: #fff;
  background-color: #0065e9;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<div align="center">
<h2>KARTA</h2>
    <div id="block">
        <div id="option">
            <img th:src="${cardGameActions.display('obraz')}" style="width:150px">
            <span class="desc">Numer karty: </span><span th:text="${cardGameActions.display('numer')}"></span><br/>
            <span class="desc">Nazwa: </span><span th:text="${cardGameActions.display('nazwa')}"></span><br/>
            <span class="desc">Poziom: </span><span th:text="${cardGameActions.display('poziom')}"></span><br/>
            <span class="desc">Punkty: </span><span th:text="${cardGameActions.display('punkty')}"></span><br/><br/>
        </div>
<!--<button th:value="${cardGameActions.result1}" class="btn right">Wybierz opcję 1</button><br/>-->
    <span class="desc">Opcja 1: </span><span th:text="${cardGameActions.display('opcja1')}"></span><br/><br/>
    <form action="#" th:action="@{/deck}" method="post" th:object="${cardGameActions}">
        <input type="submit" class="btn-small" th:disabled="${cardGameActions.disabledOption}" value="Opcja 1" name="name"/><br/>
    </form>
    <form action="#" th:action="@{/deck}" method="post" th:object="${cardGameActions}">
    <div th:switch="${cardGameActions.valueEnum}">
        <p th:case="'Ten'">
            <span class="desc">Ryba: </span><input type="submit" class="btn-small" th:disabled="${cardGameActions.disabledOption}" value="A" name="name"/>
            <span class="desc">Drewno: </span><input type="submit" class="btn-small" th:disabled="${cardGameActions.disabledOption}" value="B" name="name"/>
            <span class="desc">Ruda: </span><input type="submit" class="btn-small" th:disabled="${cardGameActions.disabledOption}" value="C" name="name"/><br/>
        </p>
        <p th:case="'Eleven'">
            <span class="desc">Ryba: </span><input type="submit" class="btn-small" th:disabled="${cardGameActions.disabledOption}" value="A" name="name"/>
            <span class="desc">Drewno: </span><input type="submit" class="btn-small" th:disabled="${cardGameActions.disabledOption}" value="B" name="name"/>
            <span class="desc">Ruda: </span><input type="submit" class="btn-small" th:disabled="${cardGameActions.disabledOption}" value="C" name="name"/><br/>
        </p>
        <p th:case="*">
            <span class="desc" hidden>Ryba: </span><input type="hidden" th:disabled="${cardGameActions.disabledOption}" value="A" name="name"/>
            <span class="desc" hidden>Drewno: </span><input type="hidden" th:disabled="${cardGameActions.disabledOption}" value="B" name="name"/>
            <span class="desc" hidden>Ruda: </span><input type="hidden" th:disabled="${cardGameActions.disabledOption}" value="C" name="name"/>
        </p>
    </div>
    </form>
    <span class="desc">Opcja 2: </span><span th:text="${cardGameActions.display('opcja2')}"></span><br/><br/>
    <form action="#" th:action="@{/deck}" method="post" th:object="${cardGameActions}">
        <div th:switch="${cardGameActions.display('opcja2')}">
            <p th:case="' '">
                <input type="hidden" th:disabled="${cardGameActions.disabledOption}" value="Opcja 2" name="name"/><br/>
            </p>
            <p th:case="*">
                <input type="submit" class="btn-small" th:disabled="${cardGameActions.disabledOption}" value="Opcja 2" name="name"/><br/><br/>
            </p>
        </div>
    </form>
    <span class="desc">Opcja 3: </span><span th:text="${cardGameActions.display('opcja3')}"></span><br/><br/>
    <form action="#" th:action="@{/deck}" method="post" th:object="${cardGameActions}">
        <div th:switch="${cardGameActions.display('opcja3')}">
            <p th:case="' '">
                <input type="hidden" th:disabled="${cardGameActions.disabledOption}" value="Opcja 3" name="name"/><br/>
            </p>
            <p th:case="*">
                <input type="submit" class="btn-small" th:disabled="${cardGameActions.disabledOption}" value="Opcja 3" name="name"/><br/><br/><br/>
            </p>
        </div>
    </form>
    <button class="btn"><a href="/shuffle">Powrót</a></button>
    </div>
</div>
</body>
</html>