<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<h2>Deck</h2>
<span>Numer karty: </span><span th:text="${cardGameActions.display('numer')}"></span><br/>
<span>Nazwa: </span><span th:text="${cardGameActions.display('nazwa')}"></span><br/>
<span>Poziom: </span><span th:text="${cardGameActions.display('poziom')}"></span><br/>
<span>Punkty: </span><span th:text="${cardGameActions.display('punkty')}"></span><br/>
<span>Opis: </span><span th:text="${cardGameActions.display('opis')}"></span><br/>
<form action="#" th:action="@{/deck}" method="post" th:object="${cardGameActions}">
<!--<button th:value="${cardGameActions.result1}" class="btn right">Wybierz opcję 1</button><br/>-->
    <input type="submit" th:disabled="${cardGameActions.disabledOption}" value="Opcja 1" name="name"/><br/>
    <input type="submit" th:disabled="${cardGameActions.disabledOption}" value="Opcja 2" name="name"/><br/>
    <input type="submit" th:disabled="${cardGameActions.disabledOption}" value="Opcja 3" name="name"/><br/>
</form>
<button><a href="/shuffle" class="btn right">Powrót</a></button>
</body>
</html>
<!--th:onclick="|loadContent('${cardGameActions.result1}')|"-->