<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<h2>Next Card</h2>
<span>Numer karty: </span><span th:text="${cardGameActions.displayNext('numer')}"></span><br/>
<span>Nazwa: </span><span th:text="${cardGameActions.displayNext('nazwa')}"></span><br/>
<span>Poziom: </span><span th:text="${cardGameActions.displayNext('poziom')}"></span><br/>
<span>Punkty: </span><span th:text="${cardGameActions.displayNext('punkty')}"></span><br/>
<span>Opis: </span><span th:text="${cardGameActions.displayNext('opis')}"></span><br/>
<button><a href="/shuffle" class="btn right">Powrót</a></button>
</body>
</html>