<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<style>
img {
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 5px;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<form method="post" id="something" action="/shuffle">
<!--    <button type="submit" name="second" th:disabled="${cardGameActions.disabled}">Second</button>-->
<!--    <div th:switch="${disableSecondButton}">-->
<!--        <button type="submit" name="second" th:case="'true'" disabled>Second</button>-->
<!--        <button type="submit" name="second" th:case="*" th:disabled="${cardGameActions.disabled}">Second</button>-->
<!--    </div>-->
</form>

<div align="center">
<h2>Shuffle</h2>
    <div th:if="${cardGameActions.visibleDisabled}">
        <input type="hidden" style="width: 750px;" th:value="${cardGameActions.getBaseList}">
    </div>
    <div th:unless="${cardGameActions.visibleDisabled}">
        <input type="text" style="width: 750px;" th:value="${cardGameActions.getBaseList}">
    </div>
    <button class="btn"><a href="/">Powrót</a></button>
    <form action="#" th:action="@{/shuffle}" method="post" th:object="${cardGameActions}">
        <!--<button th:value="${cardGameActions.result1}" class="btn right">Wybierz opcję 1</button><br/>-->
        <input type="submit" th:disabled="${cardGameActions.finalDisabled}" value="Pokaż kartę" name="name"/><br/>
        <input type="submit" th:disabled="${cardGameActions.revDisabled}" value="Podejrzyj aktualną kartę" name="name"/><br/>
        <input type="submit" th:disabled="${cardGameActions.revDisabled}" value="Podejrzyj następną kartę" name="name"/><br/>
    </form>
    <img src="/gfx/fish.png" style="width:45px">
    <input type="text" class="text-desc" th:disabled="true" th:value="${cardGameEnum.getA}">
    <img src="/gfx/wood.jpg" style="width:45px">
    <input type="text" class="text-desc" th:disabled="true" th:value="${cardGameEnum.getB}">
    <img src="/gfx/ore.png" style="width:45px">
    <input type="text" class="text-desc" th:disabled="true" th:value="${cardGameEnum.getC}"><br/><br/>
    <span>Komunikat: </span>
    <div class="statement">
        <span th:text="${cardGameEnum.getKom}"></span>
    </div><br/><br/>
    <span>Suma punktów: </span><span th:text="${cardGameActions.sumPoints}"></span>
</div>
</body>
</html>