<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<style>
img {
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 5px;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<!--<form method="post" id="something" action="/shuffle">-->
<!--&lt;!&ndash;    <button type="submit" name="second" th:disabled="${cardGameActions.disabled}">Second</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <div th:switch="${disableSecondButton}">&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit" name="second" th:case="'true'" disabled>Second</button>&ndash;&gt;-->
<!--&lt;!&ndash;        <button type="submit" name="second" th:case="*" th:disabled="${cardGameActions.disabled}">Second</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</form>-->

<div align="center">
<h2>WYBÓR</h2>
    <div id="block">
    <div th:if="${cardGameActions.visibleDisabled}">
        <span hidden style='width: 750px;' th:text="${cardGameActions.getBaseList}"></span>
    </div>
    <div th:unless="${cardGameActions.visibleDisabled}">
        <div th:if="${cardGameActions.finalDisabled}">
                <span style='width: 750px;' th:text="${cardGameActions.getBaseList}"></span>
        </div>
        <div th:unless="${cardGameActions.finalDisabled}">
                <img th:src="${cardGameActions.sendImage('0')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('1')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('2')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('3')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('4')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('5')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('6')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('7')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('8')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('9')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('10')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('11')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('12')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('13')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('14')}" style="width:55px">
                <img th:src="${cardGameActions.sendImage('15')}" style="width:55px">
        </div>
    </div>
    <form action="#" th:action="@{/shuffle}" method="post" th:object="${cardGameActions}">
        <br/><input type="submit" class="btn-cntr" th:disabled="${cardGameActions.finalDisabled}" value="Pokaż kartę" name="name"/><br/>
        <input type="submit" class="btn-cntr" th:disabled="${cardGameActions.revDisabled}" value="Podejrzyj aktualną kartę" name="name"/><br/>
        <input type="submit" class="btn-cntr" th:disabled="${cardGameActions.revDisabled}" value="Podejrzyj następną kartę" name="name"/><br/>
    </form>
    <img src="/gfx/fish.png" style="width:45px">
    <span style='color:red; margin-right:2.25em; margin-left:2.75em; display:inline-block; font-size: 180%;' class="text-desc" th:text="${cardGameDeck.getA}"></span>
    <img src="/gfx/wood.jpg" style="width:45px">
    <span style='color:red; margin-right:2.25em; margin-left:2.75em; display:inline-block; font-size: 180%;' class="text-desc" th:text="${cardGameDeck.getB}"></span>
    <img src="/gfx/ore.png" style="width:45px">
    <span style='color:red; margin-right:2.25em; margin-left:2.75em; display:inline-block; font-size: 180%;' class="text-desc" th:text="${cardGameDeck.getC}"></span><br/><br/>
    <span>Komunikat: </span>
        <div class="statement">
            <span th:text="${cardGameDeck.getKom}"></span>
        </div><br/><br/>
        <div id="option">
            <span>Karta: </span><span th:text="${cardGameActions.getN}"></span><br/>
            <span>Runda: </span><span th:text="${cardGameActions.getR}"></span><br/>
            <span>Suma punktów: </span><span th:text="${cardGameActions.sumPoints}"></span>
        </div>
            <br/><br/><button class="btn-cntr"><a href="/">Powrót</a></button>
        </div>
</div>
<div align="right">
<form action="#" th:action="@{/shuffle}" method="post" th:object="${cardGameActions}" id = "myform">
    <br/><br/><input type="submit" class="btn-right" value="Restart" name="name"/><br/>
</form>
</div>
</body>
</html>