<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<form method="post" id="something" action="/shuffle">
<!--    <button type="submit" name="second" th:disabled="${cardGameActions.disabled}">Second</button>-->
<!--    <div th:switch="${disableSecondButton}">-->
<!--        <button type="submit" name="second" th:case="'true'" disabled>Second</button>-->
<!--        <button type="submit" name="second" th:case="*" th:disabled="${cardGameActions.disabled}">Second</button>-->
<!--    </div>-->
</form>

<div align="center">
<h2>Shuffle</h2>
    <input type="text" style="width: 450px;" th:value="${cardGameActions.getList3}">
    <button><a href="/" class="btn right">Powrót</a></button>
    <form action="#" th:action="@{/shuffle}" method="post" th:object="${cardGameActions}">
        <!--<button th:value="${cardGameActions.result1}" class="btn right">Wybierz opcję 1</button><br/>-->
        <input type="submit" value="Pokaż kartę" name="name"/><br/>
        <input type="submit" th:disabled="${cardGameActions.revDisabled}" value="Podejrzyj aktualną kartę" name="name"/><br/>
        <input type="submit" th:disabled="${cardGameActions.revDisabled}" value="Podejrzyj następną kartę" name="name"/><br/>
    </form>
<!--    <button><a href="/deck" class="btn right">Podejrzyj następną kartę</a></button><br/>-->
<!--    <button><a href="/deck" class="btn right" th:value="${cardGameActions.mill}">Pokaż kartę</a></button><br/>-->
    <label>Ryby:</label>
    <input type="text" th:disabled="true" th:value="${cardGameEnum.getA}">
    <label>Drewno:</label>
    <input type="text" th:disabled="true" th:value="${cardGameEnum.getB}">
    <label>Ruda:</label>
    <input type="text" th:disabled="true" th:value="${cardGameEnum.getC}">
    <label>Komunikat:</label>
    <input type="text" th:disabled="true" th:value="${cardGameEnum.getKom}">
</div>
</body>
</html>