<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<h2>Game</h2>
<!--<form action="#" th:action="@{/}" method="post" th:object="${cardGameActions}">-->
<!--    -->
<!--</form>-->
<!--<input type="text" style="width: 350px;" th:value="${cardGameActions.list3}">-->
<!--<span>Drewno: </span><span th:text="${cardGameActions.result1}"></span><br/>-->
<form action="#" th:action="@{/}" method="post" th:object="${cardGameActions}" id = "myform">

<input type="submit" th:disabled="${cardGameActions.disabled}" value="Losuj" name="name"/><br/>
<!--    <div th:switch="${disableSecondButton}">-->
<!--        <textarea rows = "20" cols = "80" th:text = "${cardGameActions.shuffleList}" th:case="'true'" form = "myform" name="second"> </textarea>-->
<!--        <textarea rows = "20" cols = "80" th:text = "${cardGameActions.list2}" th:case="*" form = "myform" name="second"> </textarea>-->
<!--    </div>-->
</form>
<button><a href="/shuffle" class="btn right">Podejrzyj</a></button><br/>

</body>
</html>