<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
</head>
<body>
<h2>Game</h2>
<form action="#" th:action="@{/}" method="post" th:object="${cardGameActions}" id = "myform">
    <input type="submit" class="btn" th:disabled="${cardGameActions.disabled}" value="Losuj" name="name"/><br/>
</form>
<button class="btn"><a href="/shuffle">Podejrzyj</a></button><br/>
</body>
</html>